* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #9e6f4e;
    min-height: 100vh;
    overflow: hidden;
    font-family: Sansita Swashed, serif;
    color: whitesmoke;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.coffee {
    padding: 1.7em;
}

#coffee-container {
    height: 60vh;
}
